TA Queue List and Status
%br
%br
%table.board_status_table
  %tr
    %th TA queues
    %th State
    %th Students in queue
    %th Students logged in
    %th TA's logged in
    %th Remove
  = render @boards
%br
= button_to "New Queue", new_board_path, :method => :get
