%style
  :plain
    th { padding:10px; border-bottom:3px solid black; }
    td { text-align:center; }
%table
  %tr
    %th TA queues
    %th State
    %th Students in queue
    %th Students logged in
    %th TA's logged in
  = render @boards
%br
= button_to "New Queue", new_board_path, :method => :get
