:css
  body { font-family:"Helvetica"; }
TA Queue List and Status
%br
%br
%table.board_status_table
  %tr
    %th TA queues
    %th State
    %th Students in queue
    %th Students logged in
    %th TA's logged in
    %th Remove
  = render @boards
%br
= button_to "New Queue", new_board_path, :method => :get
%br

To link to a board, use the following URL:

%pre 
  %code
    http://nine.eng.utah.edu/boards/{BOARD_TITLE}/login

Example:

%pre 
  %code
    http://nine.eng.utah.edu/boards/CS1410/login

%br
%hr
%br

To embed a Board in your own webpage, insert the following HTML:

%pre
  %code
    :plain
      &lt;iframe width="1000" height="700" src="http://nine.eng.utah.edu/boards/{BOARD_TITLE}"&gt;
        Your browser doesn't support iframe.
      &lt;/iframe&gt;
Where <code>{BOARD_TITLE}</code> is the title given to a board. Example:

%pre
  %code
    :plain
      &lt;iframe width="1000" height="700" src="http://nine.eng.utah.edu/boards/CS1410"&gt;
        Your browser doesn't support iframe.
      &lt;/iframe&gt;
-#%pre
  %code
    :plain
      <iframe width="1000" height="800" src="http://nine.eng.utah.edu/boards/CS1410">
        Your browser doesn't support iframe.
      </iframe>
