#header
  Logged in as 
  - if @current_user.ta?
    %b= @current_user.username
  = hidden_field_tag "user_token", @current_user.token
  = hidden_field_tag "user_id", @current_user.id.to_s
  %br/
  %ul#ta_list
  %input{ :type => "button", :value => "Accept Next" }
#body
  #list
    #list_header
      TA Queue
    #inner_list
    #list_buttons
      %input{ :type => "button", :value => "Freeze" }
  #discussion
    #discussion_header
      Question Board
    #inner_discussion
    #discussion_buttons
      %input{ :id => "freeze_button", :type => "button", :value => "Freeze" }
  
  
  
  -#.lists
    - if false && :student?
      %li{ :id => (@user.admin? ? "admin_row" : "student_row") + "-" + @user.id.to_s }
    - if :admin?
      Admin stuff here
      
      <li id="admin_row-1"> </li>
  
