#header
  Logged in as <b>Michael Hogenson</b>
  %br/
  %ul
    - @board.tas.each do |ta|
      %li
        = "#{ta.username} currently assigned to"
        %b some student
  %input{ :type => "button", :value => "Accept Next" }
#body
  #list
    #list_header
      TA Queue
    #inner_list
      %ul
        - @board.students.each do |user|
          %li
            %span.name= user.username
            %span.location= user.location
    #list_buttons
      %input{ :type => "button", :value => "Freeze" }
  #discussion
    #discussion_header
      Question Board
    #inner_discussion
    #discussion_buttons
      %input{ :type => "button", :value => "Freeze" }
  
  
  
  -#.lists
    - if false && :student?
      %li{ :id => (@user.admin? ? "admin_row" : "student_row") + "-" + @user.id.to_s }
    - if :admin?
      Admin stuff here
      
      <li id="admin_row-1"> </li>
  
