// Place all the styles related to the TaBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*=============================================================================
 *
 *  Global settings
 *
 *==========
 */

body
{
  font-family:"Helvetica"
}

/*=============================================================================
 *
 *  Code used for login page.
 *
 *==========
 */

label
{
	display: inline-block;
	width: 5em;
}

/*=============================================================================
 *
 *  Various styling used for all pages.  Will break apart later.
 *
 *==========
 */

#content
{
	display: inline-block;
	width: 44em;
	min-height: 37.8em;
	height: auto;
	border: solid 1px #000;
	padding: 2em;
	border-radius: 15px;
	background-color: #d6e4e1;
	/* background-color: #e0e9e9; */
}

#header
{
	height: auto;
	padding: 0.5em;
}

#body
{
	width: 44em;
	height: 30em;
}

#list
{
	height: 28em;
	width: 20em;
	padding: 1em;
	float: left;
}

#list_header
{
	height: 1em;
	width: 20em;
}

#inner_list
{
	outline: solid 1px #000;
	width: 18em;
	height: 22em;
	padding: 1em;
	/* background-color: #e7e7e7; */
}

#list_buttons
{
	height: 1.5em;
	padding: 0.5em;
	text-align: right;
	width: 20em;
}

#discussion
{
	height: 28em;
	width: 20em;
	padding: 1em;
	float: left;
}

#discussion_header
{
	height: 1em;
	width: 20em;
}

#inner_discussion
{
	outline: solid 1px #000;
	width: 18em;
	height: 22em;
	padding: 1em;
}

#discussion_buttons
{
	height: 1.5em;
	padding: 0.5em;
	text-align: right;
	width: 20em;
}

.shadow 
{
	-oz-box-shadow: 0 0 30px 5px #8c9c9a;
	-webkit-box-shadow: 0 0 30px 5px #8c9c9a;
	/* -oz-box-shadow: 0 0 30px 5px #455372;
	-webkit-box-shadow: 0 0 30px 5px #455372; */
}

.float_right { float:right; }

table.board_status_table
{
  th 
  { 
    padding:5px; border-bottom:3px solid black; 
  }
  td 
  { 
    text-align:center; 
  }
}

/*=============================================================================
 *
 *  Code used for tab pane styling
 *
 *==========
 */

.panes div {
	display:none;		
	padding:3em;
	border:1px solid #999;
	border-top:0;
	height:8em;
	background-color:#fff;
}
