/*
 * Styles for login.html.haml
 *
 */

/* Custom width for main container */
#content
{
	width: 600px;
  margin: 0px auto 0px auto;
}

/* Placement of chalk board */
.chalkboard
{
  margin-top: 100px;
  width: inherit;
  -moz-box-shadow: 0px 0px 100px 0px #000;
  box-shadow: 0px 0px 100px 0px #000;
  -webkit-box-shadow:  0px 0px 100px 0px #000;
}

/* Tab bar styles */
#top_tab_bar
{
  position: relative;
  height: 100%;
}

#ta_tab, #student_tab
{
  position: absolute;
  top: -22px;
  cursor: pointer;
}

#student_tab 
{
  left: 0px;
  z-index: 50;
  color: #aa6622;
  text-shadow: 1px 1px 1px #eeee88;
}

#ta_tab
{
  left: 112px;  
  z-index: 10;
  color: #834f1a;
  text-shadow: 1px 1px 1px #ccaa66;
}

#ta_tab:hover
{
  text-shadow: 1px 1px 1px #eeee88;
}

.content_tab
{
  padding: 5px 5px 1px 5px;  
  font-family: ta_queue; 
  height: 16px;
}

#student_tab .content_tab
{
  background: url('/assets/h_wood.jpg') 0px 0px repeat-x;
}

#ta_tab .content_tab
{
  background: url('/assets/h_wood_dark.jpg') 0px 0px repeat-x;
}

.left_tab, .right_tab
{
  width: 30px;
  height: 22px;
}

#student_tab .left_tab
{
  background: url('/assets/htab_left.png') 0px 0px no-repeat;
}

#ta_tab .left_tab
{
  background: url('/assets/htab_left_dark.png') 0px 0px no-repeat;
}

#student_tab  .right_tab
{
  background: url('/assets/htab_right.png') 0px 0px no-repeat;
}

#ta_tab  .right_tab
{
  background: url('/assets/htab_right_dark.png') 0px 0px no-repeat;
}

/* Status bar styles */
#status_bar
{
  position: relative;
  width: 100%;
  height: 49px;
  background: #555 url('/assets/status_bar.png') top left repeat-x;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #111;
  color: #efefef;
  font-family: ta_queue;
  text-shadow: 0px 0px 3px #000;
}

#class_title
{
  margin-top: 15px;
  margin-left: 10px;
}

/* Styles for the ta and student panels and their forms */
#panes
{
  background: url('/assets/login_chalk_dust.jpg') top left no-repeat;
  padding: 10px;
  font-family: chalk;
  color: #fff;
  font-size: 11pt;
  
  
}

#panes form
{
  width: 100%;
}

#panes form input
{
  display: block;
  width: 200px;
  border: none;
  color: #666;
  font-family: chalk;
  font-size: 18pt;
  padding: 2px 5px;
}

#panes form input:focus
{
  outline: none;
}

#panes form input:hover
{
  color: #fff;
}

#panes .submit
{
  width: auto;
  cursor: pointer;
  margin-right: 105px;
  margin-top: -115px;
  padding: 14px 18px;  
}

#student_username, #ta_username
{
  background: url('/assets/username_underline.png') 0px 27px no-repeat;
  margin: 15px 0px 15px 85px;
}

#ta_password, #student_location
{
  background: url('/assets/password_underline.png') -2px 28px no-repeat;
  margin: 15px 0px 50px 85px;
}

.submit
{
  background: url('/assets/login_circle.png') -3px -7px no-repeat;
}

.login_hint
{
  display: block;
  margin-top: 20px;
}

#ta_panel
{
   display: none;
}