/*
 * Styles for show.html.haml
 *
 */

/* Placement of chalk board */
.chalkboard
{
  margin-top: 15px;
  margin-right: 40px;
  float: right;
  -moz-box-shadow: 0px 0px 100px 0px #000;
  box-shadow: 0px 0px 100px 0px #000;
  -webkit-box-shadow:  0px 0px 100px 0px #000;
}

/* Tab bar styles */
#left_tab_bar
{
  position: absolute;
  top: 30px;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#queue_tab
{
  position: absolute;
  top: -37px;
  left: 0px;
  color: #aa6622;
  text-shadow: 1px 1px 1px #eeee88;
}

.content_tab
{
  padding: 0px 5px 6px 5px;  
  font-family: ta_queue; 
  font-size: 13pt;
  height: 16px;
}

#queue_tab .content_tab
{
  
  position: absolute;
  left: 29px;
  background: url('/assets/h_wood.jpg') 0px 0px repeat-x;
}

.bottom_tab, .top_tab
{
  width: 30px;
  height: 22px;
}

#queue_tab .bottom_tab
{
  position: absolute;
  left: 0px;
  background: url('/assets/htab_left.png') 0px 0px no-repeat;
}

#queue_tab  .top_tab
{
  position: absolute;
  left: 78px;
  background: url('/assets/htab_right.png') 0px 0px no-repeat;
}

.border_container
{
  position: absolute;
  top: 38px;
}

.borders
{
  position: absolute;
  top: 0px;
  width: 15px;
  height: 498px;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #aa6622;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #aa6622; 
}

#cork_board
{
  width: 300px;
  height: 500px;
}

#control_panel, #tas_in_queue_header
{
  width: 100%;
  height: 49px;
  background: #555 url('/assets/status_bar.png') top right repeat-x;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #111;
}

#control_bar
{
  float: left;
  margin-top: 12px;
  padding: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #000; 
  -moz-box-shadow: 0px 0px 3px 0px #000;
  -webkit-box-shadow: 0px 0px 3px 0px #000;
}

#control_bar *
{
  float: left;
}

#enter_queue, #freeze_queue, #activate_queue, #sign_out
{
  font-family: ta_queue;
  color: #efefef;
  background: #111 url('/assets/status_bar.png') top right repeat-x;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0px;
  text-shadow: 0px 0px 3px #000;
  font-size: 11pt;
}

#enter_queue:hover, #freeze_queue:hover, #activate_queue:hover, #sign_out:hover
{
  background-color: #333;
}

.sign_out_alone
{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sign_out_with
{
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

#freeze_queue
{
  border-right: none;
}

#enter_queue, #activate_queue
{
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-right: none;
}

#student_welcome
{
  height: 180px;
  width: 100%;
  overflow: auto;
  background: url('/assets/chalk_dust.jpg') top right repeat;
}

#student_welcome .message
{
  font-size: 10pt;
}

#student_welcome .message span
{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post_it
{
  background: url('/assets/post_it.png') top left no-repeat;
  height: 140px;
  width: 180px;
  margin-left: 45px;
  margin-top: 13px;
  padding: 10px 20px 10px 14px;
  font-family: chalk;
  color: #3744ea;
}

#tas_in_queue_header
{
  color: #efefef;
  font-family: ta_queue;
  font-size: 13pt;
  text-shadow: 0px 0px 3px #000;
} 

#tas_in_queue_header div
{
  padding-top: 13px;
  padding-left: 10px;
}

#tas_in_queue
{
  height: 220px;
  width: 100%;
  overflow: auto;
  background: url('/assets/chalk_dust.jpg') top left repeat;
}

.ta_name
{
  font-weight: bold;
}

.student_info,.ta_status
{
  font-size: 10pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Status bar styles */
#status_bar
{
  position: relative;
  width: 100%;
  height: 49px;
  background: #555 url('/assets/status_bar.png') top left repeat-x;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #111;
  color: #efefef;
  font-family: ta_queue;
  font-size: 13pt;
  text-shadow: 0px 0px 3px #000;
}

#notification
{
  padding-top: 13px;
  padding-left: 10px;
}

/* 
Div that sizes mm in the table so that the table width/height is formatted
properly in Chrome 
 */
#panes 
{
  background: url('/assets/chalk_dust.jpg') top left repeat;
  height: 450px;
  width: 550px;
}

#queue_panel
{
  height: 100%;
  overflow: auto; 
  padding-top: 20px; 
}


#queue_list
{
  box-shadow: 0px 0px 4px 0px #828282;
  -moz-box-shadow: 0px 0px 4px 0px #828282;
  -webkit-box-shadow: 0px 0px 4px 0px #828282;
  width: 300px;
  margin: 0px auto 0px auto;
  font-family: ta_queue;
  color: #efefef;
  text-shadow: 0px 0px 3px #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#queue_datetime
{
  width: 290px;
  background: #454545 url('/assets/queue_datetime.png') top left repeat-x;
  padding: 10px 5px;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

.student
{
  position: relative;
  width: 290px;
  padding: 5px 5px;
}

.student .username
{
  font-size: 13pt;
  margin: 0px;
}

.student .location
{
  font-size: 10pt;
  margin: -5px 0px 0px 0px;
}

.student .ta_control
{
  position: absolute;
  right: 5px;
  top: 12px;
}
.student .accept, .student .remove
{  
  font-family: ta_queue;
  color: #efefef;
  background: #111 url('/assets/status_bar.png') top right repeat-x;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0px;
  text-shadow: 0px 0px 3px #000;
  font-size: 11pt;
}

.student .accept
{
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;

}

.student .remove
{
  border-left: none;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.student .accept:hover, .student .remove:hover
{
  background-color: #333;
}

.odd
{
  background-color: #333333;
}

.even
{
  background-color: #282828;
}

#queue_bottom
{
  width: 290px;
  background: #454545 url('/assets/queue_bottom.png') top right repeat-x;
  padding: 10px 5px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}